<!DOCTYPE html>
<html>

    <head>
         <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Registration form for lab</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/themify-icons.css">
    <link rel="stylesheet" href="./css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'poppins', sans-serif;
            background:#f5fbff ;
        }

        .formbold-main-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            /* padding: 48px; */
        }

        .formbold-form-wrapper {
            margin: 0 auto;
            max-width: 570px;
            width: 100%;
            background: white;
            padding: 40px;
        }

        .formbold-form-img {
            margin-bottom: 45px;
        }

        .formbold-input-group {
            margin-bottom: 18px;
        }

        .formbold-form-select {
            width: 100%;
            padding: 12px 22px;
            border-radius: 5px;
            border: 1px solid #dde3ec;
            background: #ffffff;
            font-size: 16px;
            color: #536387;
            outline: none;
            resize: none;
        }

        .formbold-input-radio-wrapper {
            margin-bottom: 25px;
        }

        .formbold-radio-flex {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .formbold-radio-label {
            font-size: 14px;
            line-height: 24px;
            color: #07074d;
            position: relative;
            padding-left: 25px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .formbold-input-radio {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        .formbold-radio-checkmark {
            position: absolute;
            top: -1px;
            left: 0;
            height: 18px;
            width: 18px;
            background-color: #ffffff;
            border: 1px solid #dde3ec;
            border-radius: 50%;
        }

        .formbold-radio-label .formbold-input-radio:checked~.formbold-radio-checkmark {
            background-color: #6a64f1;
        }

        .formbold-radio-checkmark:after {
            content: '';
            position: absolute;
            display: none;
        }

        .formbold-radio-label .formbold-input-radio:checked~.formbold-radio-checkmark:after {
            display: block;
        }

        .formbold-radio-label .formbold-radio-checkmark:after {
            top: 50%;
            left: 50%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #ffffff;
            transform: translate(-50%, -50%);
        }

        .formbold-form-input {
            width: 100%;
            padding: 13px 22px;
            border-radius: 5px;
            border: 1px solid #dde3ec;
            background: #ffffff;
            font-weight: 500;
            font-size: 16px;
            color: #07074d;
            outline: none;
            resize: none;
        }

        .formbold-form-input::placeholder {
            color: #536387;
        }

        .formbold-form-input:focus {
            border-color: #6a64f1;
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
        }

        .formbold-form-label {
            color: #07074d;
            font-size: 14px;
            line-height: 24px;
            display: block;
            margin-bottom: 10px;
        }

        .formbold-btn {
            text-align: center;
            width: 100%;
            font-size: 16px;
            border-radius: 5px;
            padding: 14px 25px;
            border: none;
            font-weight: 500;
            background-color: #1e79a1 ;
            color: white;
            cursor: pointer;
            margin-top: 25px;
        }

        .formbold-btn:hover {
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
        }
    </style>

    </head>

    <body>
<header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                               <a href="/">
                                    <img src="./img/indian.png" alt="images">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                     <ul id="navigation">
                                            <li><a href="/registeredHospitals">Find
                                                    Doctors</a></li>
                                            <li><a href="/registeredLab">Book
                                                    Lab Test</a></li>
                                            <li><a href="#">Service Providers<i
                                                        class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="/forHospitals">By
                                                            Hospitals</a></li>
                                                    <li><a href="/forDoctors">By
                                                            Doctors</a></li>
                                                    <li><a href="/labForm">By
                                                            Laboratory</a></li>
                                                </ul>
                                            </li>
                                           <li><a href="#">Others<i
                                                        class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                   <li><a href="/showBlogs">Read
                                                    Blogs</a></li>
                                                    <li><a href="/insurance">about government schema</a></li>
                                                    <li><a href="/findDoctors">check hospital under MA Amrutum
                                                            </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="book_btn d-none d-lg-block">
                                    <a class="popup-with-form" href="#test-form">Make an
                                        Appointment</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>


 <style>
        .error {
            color: red;
            font-family: Arial, sans-serif;
            font-size: 20px;
        }
    </style>

     <!-- add a form for laboratory registration  -->
    <div class="formbold-main-wrapper">

        <div class="formbold-form-wrapper">
            <form action="" method="POST">
                <h2>Registration Form for Lab</h2>
              <p>if you already sign up then click here <a style="color:blue;" href="/loginLab">login</a></p>
                  <div>
                    {{#if error}}
                    <p class="error">{{ error }}</p>
                    {{/if}}
                </div>
                <div class="formbold-input-group">
                    <label class="formbold-form-label">
                       
                    </label>

                    <select class="formbold-form-select" name="type" id="type">
                        <option value="Student">select</option>
                        <option value="hospital">Hospital</option>
                        <option value="Laboratory">Laboratory</option>
                       
                    </select>
                </div>
                <div class="formbold-input-group">
                    <label for="hospitalInput" class="formbold-form-label"> </label>
                    <input type="text" name="hospitalInput" id="hospitalInput" placeholder="Enter your Hospital/Laboratory name"
                        class="formbold-form-input" />
                </div>
                <div class="formbold-input-group">
                    <label for="username" class="formbold-form-label"> </label>
                    <input type="text" name="username" id="username" placeholder="Enter username" class="formbold-form-input" />
                </div>

                <div class="formbold-input-group">
                    <label for="address" class="formbold-form-label">  </label>
                    <input type="text" name="address" id="address" placeholder="Enter your full address"
                        class="formbold-form-input" />
                </div>
                <div class="formbold-input-group">
                    <label for="district" class="formbold-form-label"> </label>
                    <input type="text" name="district" id="district" placeholder="Enter district name"
                        class="formbold-form-input" />
                </div>
                <div class="formbold-input-group">
                    <label for="state" class="formbold-form-label">  </label>
                    <input type="text" name="state" id="state" placeholder="Enter state name"
                        class="formbold-form-input" />
                </div>
                <div class="formbold-input-group">
                    <label for="pincode" class="formbold-form-label"> </label>
                    <input type="text" name="pincode" id="pincode" placeholder="Enter pincode"
                        class="formbold-form-input" />
                </div>


                <div class="formbold-input-group">
                    <label for="password" class="formbold-form-label"> </label>
                    <input type="text" name="password" id="password" placeholder="Enter new Password"
                        class="formbold-form-input" />
                </div>

                <button class="formbold-btn">Submit</button>
            </form>
        </div>
    </div>

</body>

{{!-- 
        <h2>Lab Test Information Form</h2>
        <form action="/labForm" method="POST">

            <label for="type">Select Type:</label>
            <select id="type" name="type" required>
                <option value>Select</option>
                <option value="lab">Laboratory</option>
                <option value="hospital">Hospital</option>
            </select><br><br>

            <label for="hospitalLabel" id="hospitalLabel" style="display:none">Hospital
                Name:</label>
            <input type="text" id="hospitalInput" name="hospitalInput"
                style="display:none"><br><br>

            <label for="labLabel" id="labLabel" style="display:none">Laboratory
                Name:</label>
            <input type="text" id="labInput" name="labInput"
                style="display:none"><br><br>

            <label for="address">Address:</label>
            <textarea id="address" name="address" rows="4" required></textarea><br><br>

            <label for="district">District:</label>
            <input type="text" id="district" name="district" required><br><br>

            <label for="state">State:</label>
            <input type="text" id="state" name="state" required><br><br>

            <label for="pincode">Pin Code:</label>
            <input type="text" id="pincode" name="pincode" required><br><br>

            <input type="submit" value="Submit">
        </form>
    </body>

    <script>
    // JavaScript to show/hide labels and inputs based on user selection
    document.getElementById("type").addEventListener("change", function () {
        var selectedType = this.value;
        var hospitalLabel = document.getElementById("hospitalLabel");
        var hospitalInput = document.getElementById("hospitalInput");
        var labLabel = document.getElementById("labLabel");
        var labInput = document.getElementById("labInput");

        if (selectedType === "hospital") {
            hospitalLabel.style.display = "block";
            hospitalInput.style.display = "block";
            labLabel.style.display = "none";
            labInput.style.display = "none";
        } else {
            hospitalLabel.style.display = "none";
            hospitalInput.style.display = "none";
            labLabel.style.display = "block";
            labInput.style.display = "block";
        }
    });
</script> --}}

</html>